<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029777607545-50sl200gg6tjl1qp5hlsghitquco9je2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029777607545-50sl200gg6tjl1qp5hlsghitquco9je2</string>
	<key>API_KEY</key>
	<string>AIzaSyCuVZHijG38nCHZYE3cazzAdZq7m3C3G94</string>
	<key>GCM_SENDER_ID</key>
	<string>1029777607545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meloMilk</string>
	<key>PROJECT_ID</key>
	<string>melomilkrashid</string>
	<key>STORAGE_BUCKET</key>
	<string>melomilkrashid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029777607545:ios:00fc298755bdc9da203da8</string>
</dict>
</plist>